.table {
   width: 80%;
   background-color: #F6E6CB;
   color: #A0937D;
   font-family: Chalkboard, Helvetice,sans-serif;
   font-size: 50;
   font-weight: bold;
   text-align: center;
}
.table th{
   text-align: center;
}

.button {
   width: 50px;
   height: 50px;
   background-color: #E3CDC1;
   color: #A0937D;
   border:none;
   border-radius: 50%;
   box-shadow: 0 5px grey;
   font-weight: bold;
   font-size: 50;

}
